<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">

<title>My Screen V1.0</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="css/w3.css">
<link rel="stylesheet" type="text/css" href="css/styles.css">



</head>

<body>

	<img id="videoimage" src="images/default-video-thumbnail.jpg"  alt="Video" >
	
	<p id="lblMessage">click on video to enlarge<p>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="scripts/jquery.fullscreen-min.js"></script>
	<script src="scripts/script.js"></script>
		
</body>

</html>